.trainee-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--cyf-light-bg);
}

.trainee-page .trainee-layout {
  display: flex;
  flex: 1;
  margin-top: 10px;
  position: relative;
}


.trainee-content {
  display: block;
  padding: 25px;
}
.trainee-page {
  flex: 1;
  margin: 0 auto;
}

.sidebar {
  position: sticky;
  top: 200px;
  left: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
}

ul {
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  /* box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1); */
  height: 885px;
  /* max-height: calc(100vh - 100px); */
  overflow-y: auto;
}

li {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
