.trainee-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--cyf-light-bg);
  color: var(--cyf-font);
  
}

.trainee-layout {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.trainee-content {
  display: block;
  padding: 30px;
  margin: 0 auto;
}
