.trainee-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--cyf-light-bg);
}

.trainee-page .trainee-layout {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.trainee-page .trainee-content {
  flex: 1;
  padding: 30px;
  margin: 0 auto;
}
