.job-card {
  background: var(--cyf-white);
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  margin: 10px 100px;
}

.job-card .job-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--cyf-primary-dark);
}

.job-card .company {
  margin: 5px 0 10px;
  color: var(--cyf-font);
}

.job-card .apply-link,
.job-card .interested-btn {
  display: inline-block;
  padding: 8px 14px;
  background: var(--cyf-primary-red);
  color: var(--cyf-white);
  border-radius: var(--radius);
  margin-top: 10px;
  font-weight: 500;
  margin-left: 20px;
}

.interested-btn {
  width: 100px;
}
.job-card .apply-link:hover,
.job-card .interested-btn:hover {
  background: #c83031;
}

.job-card .status-row select {
  margin-top: 10px;
  padding: 8px;
  background-color: var(--cyf-primary-red);
  color: var(--cyf-white);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
}

.status-row {
  width: 200px;
}
