:root {
  --cyf-primary-dark: #231F20;
  --cyf-primary-red: #EE4344;
  --cyf-light-bg: #F2EFF0;
  --cyf-white: #FFFFFF;
  --cyf-font: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

