:root {
  --cyf-primary-dark: #231F20;
  --cyf-primary-red: #EE4344;
  --cyf-light-bg: #F2EFF0;
  --cyf-white: #FFFFFF;
  --cyf-font: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  --radius: 8px;
  --radius-lg: 16px;
  --shadow: 0 2px 6px rgba(0,0,0,0.06);
  --shadow-lg: 0 4px 12px rgba(0,0,0,0.08);
  --border-color: #d6d3d4;
}
