.dashboard-container {
  padding: 20px;

}

.title {
  margin-top: 50px;
  font-size: 26px;
  color: var(--cyf-primary-dark);
  margin-bottom: 10px;
}

.subtitle {
  color: var(--cyf-font);
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px 14px;
  border: 1px solid var(--cyf-primary-dark);
  border-radius: 8px;
  font-size: 16px;
  background: var(--cyf-white);
  color: var(--cyf-font);
}

.jobs-list {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
 a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} 

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  font-family: system-ui, sans-serif;
  color: var(--cyf-font);
  background: var(--cyf-light-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

 @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
