.dashboard-container {
  padding: 20px;
}

.dashboard-container .title {
  font-size: 26px;
  font-weight: 700;
  color: var(--cyf-primary-dark);
  margin-bottom: 6px;
}

.dashboard-container .subtitle {
  margin-bottom: 20px;
  color: var(--cyf-font);
}

.jobs-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
