.app-footer {
  background: var(--cyf-white);
  border-top: 1px solid var(--cyf-primary-red);
  padding: 20px;
  text-align: center;
  color: var(--cyf-primary-dark);
  font-size: 14px;
  margin-top: auto;
  position:absolute;
}
