.app-footer {
  background: var(--cyf-white);
  border-top: 1px solid var(--cyf-primary-red);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--cyf-primary-dark);
  position:sticky;
  bottom: 0rem;
}
