.app-header {
   height: 100px; 
  background: var(--cyf-white);
  border-bottom: 2px solid var(--cyf-primary-red);
  padding: 14px 25px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-logo {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  color: var(--cyf-primary-red);
}

.header-nav {
  display: flex;
  gap: 16px;
}

.header-link {
  padding: 8px 12px;
  border-radius: var(--radius);


}

.header-link:hover {
  background: var(--cyf-light-bg);
}
.welcome-text {
  margin-top: 25px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(8, 7, 7);
  flex: flex;
}