.app-header {
  background: var(--cyf-white);
  border-bottom: 2px solid var(--cyf-primary-red);
  padding: 14px 25px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-logo {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  color: var(--cyf-primary-red);
}

.header-nav {
  display: flex;
  gap: 16px;
}

.header-link {
  padding: 8px 12px;
  border-radius: var(--radius);
  /* background: none; */
}

.header-link:hover {
  background: var(--cyf-light-bg);
}
