.signup-container {
  width: 100%;
  min-height: 100vh;
  background: var(--cyf-light-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.signup-container .login-container {
  width: 33rem;
  background: var(--cyf-white);
  padding: 2rem;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container .header h1 {
  margin-bottom: 6px;
  font-size: 2rem;
  color: var(--cyf-primary-dark);
}

.signup-container .header p {
  color: var(--cyf-font);
  opacity: 0.7;
}

.signup-container form {
  width: 100%;
  margin-top: 1rem;
}

.signup-container fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup-container label {
  margin-top: 1rem;
  margin-bottom: 4px;
  font-weight: 600;
}

.signup-container input,
.signup-container select {
  padding: 12px;
  font-size: 1rem;
  background: rgba(230, 230, 230, 0.8);
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
}

.signup-container .password-validator {
  margin-top: 6px;
  color: red;
}

.signup-container #register-btn {
  margin-top: 20px;
  width: 100%;
  background: var(--cyf-primary-red);
  color: var(--cyf-white);
  font-weight: 700;
  padding: 12px;
  border-radius: var(--radius);
}

.signup-container #register-btn:hover {
  background: #0c967f;
}

.signup-container .go-to-login {
  margin-top: 20px;
  text-align: center;
}
