.sidebar {
  width: 240px;
  background: var(--cyf-white);
  margin-top: 70px;
  padding: 25px;
  border: 2px solid var(--cyf-primary-dark);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.sidebar-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--cyf-primary-dark);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-item {
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  border-radius: var(--radius);
  background: #e5e3e4;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  color: var(--cyf-primary-dark);
}

.sidebar-item.active {
  background: var(--cyf-primary-red);
  color: var(--cyf-white);
  font-weight: 600;
}

.sidebar-item:hover {
  background: #d6d3d4;
  color: var(--cyf-white);
}
